<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    	<h3>What we do</h3>
    	<p>Our goal is to provide a comprehensive overview of the performance of different states by different healthcare metrics. We examine gaps in care exhibited by states, and compare them to each other to get a better feel for where a particular provider might improve its performance in healthcare.</p>
       
    </div>
    <div class="row">
    	<h3>Who we are</h3>
    	<p>Disciples of Iaso is comprised of Georgia Tech Master's degree students from various backgrounds and interests</p>
       
    </div>
    
    
</div>
